<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>The yelling and shouting could be heard down the street.  The playground 
    was always alive with noise but this was not the sound of children playing. 
    A crowd grew around the four arguing individuals words were being used to cut 
    their adversary deep to inflict the most pain.  Before anyone physical violence started .....
  </p>
  <ion-button color="warning" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter4']">Next Chapter</ion-button>
</ion-content>
