<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 5</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>The prosecutor pushed for a speed trial. There was minimal physical evidence, expert tesitmony was given and witnessed testified.
    This trial is being rushed for some unknown reason,trying to railroad this young woman. We all know they have the wrong person. 
    Both sides have presented their cases and have given their closing arguements now it is in the jurors hands......  </p>
  <ion-button color="dark" expand="block" [routerDirection]="'root'" [routerLink]="['/toc']">Return to Table Of Contents</ion-button>
</ion-content>
