<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <p>Being a tomboy on the playground playing soccer, basketball and football with the boys in a catholic school is a no-no. 
     But if you know anything about me you know I live by my own rules and not even the nuns dared to change me. 
   </p>
   <ion-button color="tertiary" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter3']">Next Chapter</ion-button>

  </ion-content>
