<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>The police investigation was over and they are currently search for their main suspect, who has vanished into thin air it seems.
    no one has seen on heard from Natalie since the day of the murders. She was thought and still is presumed to have been kidnapped but 
    the police think otherwise. They are trying to pin these vicious murders on this young lady just because she does not and will not conform 
    this area's conservative views and beliefs.
  </p>
  <ion-button color="secondary" expand="block" [routerDirection]="'root'" [routerLink]="['/chapter5']">Next Chapter</ion-button>
</ion-content>
